@import url('https://fonts.googleapis.com/css2?family=Beau+Rivage&family=Sora:wght@400;700&display=swap');

:root{
    --dark:hsl(223, 18%, 16%);
    --body:#888;
    --box-shadow:0 8px 22px rgba(0,0,0,0.2);
    --primary:#007bff;
}
body{
    font-family: 'Sora', sans-serif;
    line-height: 1.7;
    color: var(--body);
}
h1,
h2,
h3,
h4,
h5,
h6{
    color: var(--dark);
    font-weight: 700;
}
a{
    color: var(--dark);
}
section{
    padding-top: 100px;
    padding-bottom: 20px;
}

.navbar{
    background-color: var(--dark)!important;
    font-family: 'Beau Rivage', cursive;
}
.navbar li{
    padding-right: 14px;
}
.navbar .nav-link{
    color: #fff!important;
    font-size: 24px;
    font-weight: 700;
}

/* hero section */
.hero{
    background-position: center;
    background-size: cover;
    background-attachment: fixed;
    position: relative;
    z-index: 2;
    transition-property: background-image;
    transition-duration: 4s;
}
.hero::after{
    content:"";
    position: absolute;
    height: 100%;
    width: 100%;
    top: 0;
    left: 0;
    background-color: rgba(39, 37, 79, 0.5);
    z-index: -1;
}
/* 矢印ボタンのスタイル */

.hero .prevImage ,
.hero .nextImage {
    color: white;
    position: absolute;
    top: 50%;
    z-index: 3;
    cursor: pointer;
}
.hero .prevImage{
    left: 20px;
    font-size: 30px;
}
.hero .nextImage{
    right: 20px;
    font-size: 30px;
}
@media screen and (max-width: 480px){
.hero .prevImage ,
.hero .nextImage{
    display: none;
}
 }

/* profile section */
.col-img{
    background-image: url(img/profile.jpeg);
    background-position: center;
    min-height: 666px;
    background-size: cover;
}
.iconbox{
    width: 54px;
    height: 54px;
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: var(--primary);
    color:#fff;
    font-size: 32px;
    border-radius: 100px;
    flex: none;
}
/* 標準イメージサイズ */
/* イメージ写真がない場合 */
.no-image{
    max-width: 200px;
    margin-bottom: 20px;
}
/*  */


