@charset "UTF-8";
*, *::before, *::after{
    box-sizing: border-box;
} *
/* これに関してはわからない　調べないといけない */
.mainImage {
    max-width: 1100px;
    width: 100%;
    margin: 0 auto 100px;
    padding: 0 40px;
    position: relative;
    user-select: none;
}
.mainImage .prevImage,
.mainImage .nextImage {
    position: absolute;
    top: 50%;

    transition: 0.3s;
    cursor: pointer;
}

.mainImage .prevImage.inActive,
.mainImage .nextImage.inActive {
    opacity: 0.3;
    pointer-events: none;
}



.mainImage .prevImage{
    left: 0;
}
.mainImage .nextImage{
    right: 0;
}

.mainImage .prevImage::before,
.mainImage .nextImage::before{
    font-size: 30px;
    color: #555;
} 

.mainImage .prevImage:hover,
.mainImage .nextImage:hover{
    opacity: 0.5;
} 


.mainImage img {
    width: 100%;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
}

.mainImage .currentSlideNumber{
    text-align: center;
    margin-top: 20px;
    
}

.imagelist {
    max-width: 1000px;
    width: 100%;
    margin:0 auto 100px;
    display: flex;
    flex-wrap: wrap;
    gap: 30px 3.5%;
}
.imagelist li {
    width: 31%;
    height: 200px;
    background-repeat: no-repeat;
    background-position: center;
    background-size: cover;
    cursor: pointer;
    list-style-type: none;
    box-shadow: 0px 10px 10px -6px rgba(0, 0, 0, 0.3);
    transition: 0.7s;
}
.imagelist li:hover {
    opacity: .7;
    transform: scale(1.03);
}